@import "../assets/settings.scss";
@import "../assets/nav.scss";

// to set act nav to big screen
#home{
    border-radius: 20px;        
    &::before{
        content: "";
        position: absolute;
        top: 6px;
        left : -8px;
        height: 40px;
        width: 4px;
        border-radius: 2px;
        background: white;
    }
}

.main_h{
    //color:
    background-image: linear-gradient(90deg, #ef2b11 0%, #f2751b 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
    font-size: 5em;
    width: 485px;
    margin: auto;
}

.sub_h{
    font-family: Roboto;
    text-align: center;
    margin: auto;
}

.row_1{
    margin-top: 150px;
}

.attributs_container{
    text-align: left;
}

.attributs{
    &::before{
        content: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg id='Layer_1' style='enable-background:new 0 0 512 512;' version='1.1' viewBox='0 0 512 512' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%2341AD49;%7D%0A%3C/style%3E%3Cg%3E%3Cpolygon class='st0' points='434.8,49 174.2,309.7 76.8,212.3 0,289.2 174.1,463.3 196.6,440.9 196.6,440.9 511.7,125.8 434.8,49 '/%3E%3C/g%3E%3C/svg%3E");
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 7px;
    }
}

.divider{
    width: 1000px;
    margin-top: 15px;
    border-bottom: 4px solid #24252a;
    margin: auto;
    text-align: center;
}
