.view {
    padding: 9px 25px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.add{
    background-color: #f2751b;
    box-shadow: inset 0 0 0.5em 0 #ef2b11, 0 0 0.5em 0 #ef2b11;

    &:hover {
        transition: all 0.3s ease 0s;
        box-shadow: -3px -3px 7px #ef2b11, 3px 3px 5px rgba(94, 104, 121, 0.288), inset 0 0 0.5em 0 #ef2b11, 0 0 0.5em 0 #ef2b11;
    }
}

.repo{
    background-color: #f2751b;
    box-shadow: inset 0 0 0.5em 0 #ef2b11, 0 0 0.5em 0 #ef2b11;
    
    &:hover {
        transition: all 0.3s ease 0s;
        box-shadow: -3px -3px 7px #ef2b11, 3px 3px 5px rgba(94, 104, 121, 0.288), inset 0 0 0.5em 0 #ef2b11, 0 0 0.5em 0 #ef2b11;
    }
}