.sidebar{
    background-color: #24252a;
    height: 100%;
    width: 100px;
    margin: 0;
    padding-top: 20px;
    float: left;    
}

.header{
    background-color: #24252a;
    width: 100vw;
    height: 20px;
    
}

.nav{
    height: 55px;
    width: 55px;
    border-radius: 27.5px;
    margin-left: 21px;
    margin-bottom: 7px;
    position: relative;
    transition: all 250ms;
    background-size: 100%;
    &:hover{
        transition: all 250ms;
        border-radius: 20px;
        cursor: pointer;        
        &::before{
            content: "";
            position: absolute;
            top: 15px;
            left : -8px;
            height: 25px;
            width: 2.5px;
            border-radius: 2px;
            background: white;
        }
        &::after{
            content: "";
            color: white;
            position: absolute;
            top: 15px;
            left : 78px;
            height: 25px;
            width: auto;
            border-radius: 2px;
            background: #111114;
            padding: 2px 5px 2px 5px;
        }
    }
    
}

#home{
    background-image: url("./../../../imgs/tornadobotIcon.png");
    &:hover{ 
        &::after{
            content: "Home";
        }
    }
}

#desktopApp{
    background-image: url("./../../../imgs/electronLogo.png");
    &:hover{ 
        &::after{
            content: "DesktopApp";
        }
    }
}

#changeLog{
    // background-image: url("./../../../imgs/tornadobotIcon.png");
    background-color: blue;
    &:hover{ 
        &::after{
            content: "ChangeLog";
        }
    }
}

#documentation{
    background-image: url("./../../../imgs/documentationLogo.png");
    &:hover{ 
        &::after{
            content: "Documentation";
        }
    }
}

#documentation{
    background-image: url("./../../../imgs/documentationLogo.png");
    &:hover{ 
        &::after{
            content: "Documentation";
        }
    }
}
